<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/notes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Book Nation</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <section id="content">
        <% if(locals.book) {%>
            <div id="cover-container">
                <img src="<%=book.coverURL%>" alt="" style="height:400px; width: 260px;">
                <form action="<%= book.id %>/notes", method="get" hidden="true">
                    <button id="add-button">+ ADD NOTES</button>
                </form>
                <form action="<%= book.id %>/notes", method="get">
                    <button id="add-button">+ ADD NOTES</button>
                </form>
                <form action="/mylibrary/add/<%= book.id %>", method="post">
                    <button id="add-button" ><%= locals.message || "+ ADD TO LIBRARY"%></button>
                </form>
            </div>
            <div id="text-container">
                <h1><%= book.title %></h1>
                <p><%= book.description %></p>
                <h3><%= book.authorName %></h3>
            </div>
        <% } %>
    </section>
    <section id="notes">
        <textarea name="notes" id="note-area" cols="30" rows="10" maxlength="2000" placeholder="ADD YOUR NOTES HERE"></textarea>
        <div>
            <button id="add-note-button">ADD</button>
            <button id="cancel-note-button">CANCEL</button>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</body>
</html>